<html>
  <head>
    <title>Add a manga</title>
  </head>
  <body>
      <h1>Enter manga</h1>
      <br>
      <form action="{{ url_for('add') }}" method="post">
        <input type="text" placeholder="title" name="title" value="{{
          request.form.title }}">
        <input type="text" placeholder="url" name="url" value="{{
          request.form.url }}">
        <input type="text" placeholder="lastvol" name="lastvol" value="{{
          request.form.lastvol }}">
        <input class="btn btn-default" type="submit" value="add">
      </form>
  </body>
</html>

