<html>
  <head>
    <title>Add a manga</title>
  </head>
  <body>
      <h1>Enter manga</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="title" name="title" value="{{
          request.form.title }}">
        <input class="btn btn-default" type="submit" value="del">
      </form>
  </body>
</html>

