<html>
<head>
    <title>Mangas collection</title>
<meta name="viewport" content="width=device-width, initial-scale=1.15 user-scalable=no">
<link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
</head>
<body>
    <h1>Mangas:</h1>
    <h3>Enter manga</h3>
      <form action="{{ url_for('add') }}" method="post">
        <input type="text" placeholder="title" name="title" value="{{
          request.form.title }}">
        <input type="text" placeholder="url" name="url" value="{{
          request.form.url }}">
        <input type="text" placeholder="lastvol" name="lastvol" value="{{
          request.form.lastvol }}">
        <input class="btn btn-default" type="submit" value="add">
      </form>
    <h3>Collection</h3>
    <div class="control-group">
    <div class="controls">
    <form action="{{ url_for('refresh') }}" method="post">
    <input class="btn btn-primary" type="submit" value="refresh">
    </div>
    </div>
    </form>
<table>
{% for row in rows %}
    <tr>
    <td>{{ row.title }}</td>
    <td>{{ row.lastvol }}</td>
    <td>{{ row.nextvol }}</td>
    <td>{{ row.date }}</td>
    <td>
    <form action="/extra?title={{ row.title }}" method="post">
    <input class="btn btn-default" type="submit" value="extra">
    </form>
    </td>
    <td>
    <form action="/del?title={{ row.title }}" method="post">
    <input class="btn btn-default" type="submit" value="delete">
    </form>
    </td>
    </tr>
    {% endfor %}
</table>
<h4><a href=/logout>Logout</a></h4>
</body>
</html>
