<html>
<head>
<title>Mangas collection</title>
<meta name="viewport" content="width=device-width, initial-scale=1.8 user-scalable=no">
<!-- Bootstrap -->
<link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
</head>
<body>
<h1>Mangaweb</h1>
<form class="form-horizontal" action="" method="post">
<div class="control-group">
<label class="control-label" for="inputUsername">Login</label>
<div class="controls">
<input type="text" id="inputUsername" placeholder="Username" name="username" value="{{request.form.username }}">
</div>
</div>
<div class="control-group">
<label class="control-label" for="inputPassword">Password</label>
<div class="controls">
<input type="password" id="inputPassword" placeholder="Password" name="password" value="{{request.form.password }}">
</div>
</div>
<div class="control-group">
<div class="controls">
<button type="submit" class="btn btn primary" value="Login">Submit</button>
</div>
</div>
</form>

{% if error %}
<p class="error"><strong>Error:</strong> {{ error }}</p>
{% endif %}
</form>
</body>
</html>
